*{


    /* background-image:url();
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed; */
    background-color: rgb(248, 240, 255);
    /* background-position: 500px; */

    /* margin collapse porblem in CSS */
}
a[target="_blank"]{
    color: red;
    text-decoration: none;
}
.one{
    width: 250px;
    height: 250px;
    /* background-image: url();
    background-size: cover;
    /* mix-blend-mode: color-dodge; */
    /* z-index: -10;
    backdrop-filter: var(); */ 
    background-color: rgb(109, 109, 109);
    transition: 3s;

}
.one:hover{
    background-color: rgb(0, 0, 0);
}
button{
    margin-top: 100px;
    background-color: rgb(255, 255, 255);
    border: 1px solid black;
    border-radius: 50px;
    padding: 10px;
    transition: 3s;
    /* transform: rotate(45deg); */
    
    /* transition: border 2s ease-in-out 0.5s; */
}
button:hover{
    background-color: rgb(0, 0, 0); 
    color: white;
    transform: scale(1.5);
    /* border: red; */
}
#two{
    width: 100%;
    height: 50px;
    background-color: rgb(248, 50, 50);
    transform: skew(80deg);
}