#one{
    display: inline-block;
    width: 300px;
    height: 650px;
    border: 2px solid black;
    border-radius: 10%;
    
}
#two{
    display: inline-block;
    width: 300px;
    height: 650px;
    border: 2px solid black;
    border-radius: 10%;
  
}
#main{
    display:flex;
    justify-content:space-evenly;;
}
img {
  width: 100%;
  height: 50%;
  border-radius: 10%;
}
@media (max-width:400px){
   #main{
    display:block;
   }
}